* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:not(i) {
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("../images/background_img.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
}

.container {
    background-color: white;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-bar input {
    padding: 5px;
    width: 65%;
    border: none;
    outline: none;
    border-bottom: 3px solid #B70404;
    font-size: 16px;
}

#search-btn {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 17px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

#search-btn:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

@media screen and (max-width:550px) {
    .search-bar input {
        width: 60%;
    }

    #search-btn {
        padding: 0.7em 1.7em;
        font-size: 13.4px;
    }

}

.word-details {
    position: relative;
}

.word-details h3 {
    font-size: 30px;
    color: #1f194c;
}

.word-details .word {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.word-details button {
    background-color: transparent;
    color: #ae9cff;
    border: none;
    outline: none;
    font-size: 18px;
}

.word-details .meaning {
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}

.word-meaning {
    color: #575a7b;
    text-align: justify;
    width: 77%;
}

.word-example {
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #B70404;
    ;
    padding-left: 20px;
    margin-top: 30px;
}

.error {
    margin-top: 80px;
    text-align: center;
}